<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario tabla de multiplicar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Tabla de multiplicar utilizando Flask <img src="/static/images/flask-icon.webp" height="50"></h1>
    <form action="/tabla" method="post">
        <label for="num">Escribe un número del 0 al 9:</label>
        <input type="number" name="num" min="0" max="9" required> 
        <input type="submit" value="Ver tabla">
    </form>
</body>

</html>
</body>
</html>